extends layout
block content
    h3.field.regheader #{title}
    form.regform
        p.mess #{message}
        div.item
            label.label 证书编号
            label.mess  #{certId}
        div.item
            label.label 发证日期
            label.mess #{issueDate}
        div.item
            label.label 证书名称
            label.mess #{certName}
        div.item
            label.label 证书内容
            label.mess #{description}
        div.item
            label.label 有效期
            label.mess #{valid}
        div.item
            label.label 补充理由
            label.mess #{reason}
        div.item
            label.label 发证人
            label.mess #{issuer}
        div.item
            label.label 收证人
            label.mess #{owner}