extends layout
block content
    h3.field.regheader #{title}
    form.regform
        p.mess #{message}
        div.item
            label.label 证书编号
                        |  #{certId}
        div.item
            label.label 发证日期
                        | #{issueDate}
        div.item
            label.label 证书名称
                        | #{certName}
        div.item
            label.label 证书内容
                        | #{description}
        div.item
            label.label 有效期
                        | #{valid}
        if reason
            div.item
                label.label 补充理由
                            | #{reason}
        div.item
            label.label 发证人
                        | #{issuer}
        div.item
            label.label 收证人
                        | #{owner}