extends layout
block content
    h3.field.regheader #{title}
    form.regform
        p.mess #{message}
        div.item
            label.label 证书编号
            label.label  #{certId}
        div.item
            label.label 发证日期
            label.label #{issueDate}
        div.item
            label.label 证书名称
            label.label #{certName}
        div.item
            label.label 证书内容
            label.label #{description}
        div.item
            label.label 有效期
            label.label #{valid}
        div.item
            label.label 补充理由
            label.label #{reason}
        div.item
            label.label 发证人
            label.label #{issuer}
        div.item
            label.label 收证人
            label.label #{owner}